*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    font-size: 35px;
    font-weight: bold;
    background-color: grey;
    text-align: center;
    width: 600px;
}

main{
    padding: 25px 0;
    width: 600px;
}

section{
    padding: 25px 0;
}

.title{
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

li{
    text-decoration: none;
    width: 33.33%;
    display: inline-block;
    text-align: center;
}

.currentTitle{
    background-color: grey;
    font-weight: bold;
    border: 2px solid black;
}

.exportBox{
    width: 500px;
    margin: 15px auto;
    border: 1px solid black;
}

footer{
    font-size: 15px;
    background-color: grey;
    text-align: center;
    width: 600px;
}
